#detail {
  background-color: #f5f5f5;
  padding: 26px 30px;
}
.content-detail {
  background-color: #fff;
  margin-top: 22px;
  padding-bottom: 24px;
}
.content__title-box {
  background-color: #eef1f4;
  height: 64px;
  border: 1px solid #dae0e5;
  border-radius: 3px 3px 0 0;
  line-height: 64px;
  color: #212b36;
  font-weight: bold;
  font-size: 18px;
}
.content__title {
  margin-left: 24px;
}

.content__item-wrapper {
  display: flex;
  flex-direction: column;
}
.content__item-box,
.content__item-anotherbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0 32px;
  background-color: #fff;
  border-left: 1px solid #dae0e5;
  border-bottom: 1px solid #dae0e5;
}
.content__item-box {
  border-top: 1px solid #dae0e5;
}
.content__item-additionbox {
  display: flex;
  margin: 0 32px;
  padding-top: 20px;
  background-color: #fff;
  border-left: 1px solid #dae0e5;
  border-bottom: 1px solid #dae0e5;
  border-right: 1px solid #dae0e5;
}
.title-content-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  height: 88px;
  border-right: 1px solid #dae0e5;
}
.class-flex {
  margin-left: 0;
  padding-left: 16px;
  padding-top: 20px;
  height: auto;
  width: 100%;
  border-top: 1px solid #dae0e5;
}
.item__title {
  color: #212b36;
  font-size: 14px;
  font-weight: bolder;
}
.item__content {
  margin-top: 16px;
  color: #212b36;
  font-size: 14px;
}
.item__addition-box {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 16px;
}
.item__addition {
  display: flex;
  margin-bottom: 20px;
}
.item__addition--left {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.icon-word {
  font-size: 14px;
  color: #005cbd;
}
.icon-zip {
  font-size: 14px;
  color: #ff9800;
}
.item__addition--word,
.item__addition--pdf {
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  color: white;
  font-size: 10px;
}
.item__addition--word {
  background-color: #5077aa;
}
.item__addition--pdf {
  background-color: #cf4424;
}
.item__addition-name {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 8px;
}
.filesize {
  margin-left: 8px;
}
.item__addition-name span:nth-child(1) {
  color: #212b36;
}
.item__addition-name span:nth-child(2) {
  color: #919eab;
}
.item__addition--right {
  display: flex;
  margin-left: 20px;
  color: #0270e0;
}
.item__addition--right a {
  color: #0270e0;
  text-decoration: none;
}
.item__addition--right span:nth-child(2) {
  font-weight: bold;
}

.content__item-verify {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
  padding: 27px 0 0 15px;
  border: 1px solid #dae0e5;
}
.verify-segment {
  display: flex;
  margin-bottom: 31px;
}
.verify-ellipsis {
  display: flex;
  margin: 30px 0 20px 0;
}
.verify-segment__left,
.verify-segment__right {
  display: flex;
  flex-direction: column;
}
.verify-segment__left {
  align-items: flex-end;
  flex-shrink: 0;
}
.verify-segment__center {
  position: relative;
  margin: 0 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.verify-segment__right {
  align-items: flex-start;
}
.verify-segment--fontbold {
  font-weight: bold;
  font-size: 14px;
  color: #212b36;
}
.verify-segment__verifyDate {
  margin-top: 10px;
  font-size: 12px;
  color: #919eab;
}
.verify-segment--verifying {
  color: #2170d9;
}
.verify-segment__dapartment {
  margin-top: 10px;
  font-size: 12px;
  color: #212b36;
}
.verify-segment__centericon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2170d9;
  color: #fff;
  text-align: center;
  vertical-align: center;
}
.verify-segment__centerimg {
  width: 20px;
  height: 20px;
}
.verify-segment--verticalLine {
  position: absolute;
  top: 28px;
  width: 1px;
  height: 30px;
  background-color: #dae0e5;
}
.verify-segment--verticalLineUp {
  position: absolute;
  top: -34px;
  width: 1px;
  height: 30px;
  background-color: #dae0e5;
}
.verify-segment--ellipsis {
  position: absolute;
  top: -56px;
  width: 4px;
  height: 18px;
}
.spread {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 32px;
  height: 38px;
  background-color: #eef1f4;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #dae0e5;
}
.spread__title {
  color: #212b36;
  font-size: 14px;
}
.spread__triangle {
  width: 12px;
}
.content__item-suggestions {
  margin: 0 32px;
  display: flex;
  flex-direction: column;
}
.suggestions__title {
  font-size: 14px;
  color: #212b36;
}
.suggestions__content {
  margin-top: 8px;
  height: 108px;
  border: 1px solid #c4cdd5;
  border-radius: 4px;
}
.suggestions__content--disabled {
  background-color: #eef1f4;
}
.suggestions__input {
  padding: 10px 0 0 10px;
  background-color: transparent;
  color: #212b36;
  width: 80%;
  border: none;
  outline: none;
  text-align: left;
}
.content__btn-box {
  margin: 24px 0 0 32px;
}
.content__btn--long,
.content__btn--short {
  outline: none;
  border: none;
  margin-right: 10px;
  color: #212b36;
  font-size: 14px;
}
.content__btn--long {
  padding: 8px 16px;
  background-color: #0270e0;
  color: #fff;
  border-radius: 4px;
}
.content__btn--short {
  padding: 8px 30px;
  font-size: 14px;
  background-color: #fff;
  color: #212b36;
  border: 1px solid #c4cdd5;
  border-radius: 4px;
}

.breadcrumb .el-breadcrumb__inner {
  color: #212b36;
}
.breadcrumb .el-breadcrumb__item .el-breadcrumb__inner {
  color: #45484b;
}
.breadcrumb .el-icon-arrow-right:before {
  color: #212b36;
}
.el-checkbox__inner {
  z-index: 0 !important;
}
