@font-face {
  font-family: "MF LangQian";
  src: url("../font/MFLangQian_Noncommercial-regular.otf");
}
@font-face {
  font-family: "PingFangSC-Medium";
  src: url("../font/PingFang Medium_downcc.otf");
}
@font-face {
  font-family: "PingFangSC-Regular";
  src: url("../font/PingFang Regular.otf");
}
.icon-wenjianjia-copy:before,
.icon-wenjian:before {
  color: #7da4d1;
}
* {
  user-select: none;
}
html,
body {
  height: 100%;
}
input::placeholder,
textarea::placeholder {
  color: #919eab !important;
}
.wh_33 {
  width: 33%;
}
.wh_25 {
  width: 25%;
}
.wh {
  width: 100%;
}
.font--normal {
  line-height: 20px;
  font-family: "PingFangSC-Regular";
  font-size: 14px;
  color: #212b36;
}
.font--active {
  line-height: 20px;
  font-family: "PingFangSC-Regular";
  font-size: 14px;
  color: #45484b;
}
