#page-table {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 0px 30px;
  height: 100%;
  box-sizing: border-box;
}
#page-table > .title {
  font-size: 26px;
}
.title {
  color: #212b36;
}
.content-table {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  margin: 18px 0 60px 0;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dae0e5;
  box-shadow: 0px 0px 3px#e0e0e1;
}
.content-table .el-main {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-left: 1px solid #dae0e5;
}

/* 表格侧边树形组件 start */
.content-table .el-aside {
  padding: 24px;
}
.el-aside .search-input {
  color: #212b36;
}
.el-aside .el-input--suffix .el-input__inner {
  padding-right: 0;
}
.el-aside .el-input--suffix .el-input__inner:focus {
  border-color: #dae0e5;
}
.el-aside .el-input-group__append {
  padding: 8px 14px;
  background-color: #eef1f4;
  border-color: #c4cdd5;
}
.el-aside .el-input-group__append:hover {
  border: 1px solid #13a7ff;
}
.tree,
.searchTree {
  margin-top: 20px;
}
.tree .el-tree-node:focus > .el-tree-node__content {
  background: #eef1f4;
}
.tree .custom-tree-node {
  font-size: 14px;
  color: #212b36;
}
.searchTree li.resultNode {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
  height: 24px;
  font-size: 14px;
  color: #212b36;
  background: #eef1f4;
}
.typeName {
  margin-left: 6px;
}
/* 表格侧边树形组件 end */
/* 表格上方的搜索栏 start */
.table-search-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 82px;
}
.search-input-box,
.search-select-box {
  display: flex;
  align-items: center;
  border-left: 1px solid #dae0e5;
  cursor: pointer;
}
.search-input-box {
  width: 300px;
}
.search-input-box .icon-search {
  margin-left: 12px;
  width: 14px;
  height: 14px;
}
.search-input-box input {
  margin: 0 42px 0 12px;
  width: 100%;
  border: none;
  outline: none;
  color: rgba(145, 158, 171, 1);
  font-size: 14px;
}
.search-select-box .icon-select {
  margin-left: 12px;
  width: 16px;
  height: 16px;
}
.search-select-box .title {
  margin-left: 8px;
  font-size: 14px;
  color: rgba(33, 43, 54, 1);
}
.search-select-box .icon-arrow {
  margin: 0 12px 0 8px;
  width: 10px;
  height: 6px;
}
.search__hidden {
  visibility: hidden;
}
.search__hiddenItem {
  position: absolute;
  top: 84px;
  background-color: #fff;
  box-shadow: -2px 2px 2px rgba(63, 63, 68, 0.16);
  width: 350px;
  z-index: 2008;
}
.hiddenItem-title-box {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  margin-top: 18px;
}
.hiddenItem-title-box .title {
  font-weight: bold;
  font-size: 16px;
  color: rgba(33, 43, 54, 1);
}
.hiddenItem-title-box .icon-close {
  width: 12px;
  height: 12px;
}
.hiddenItem-form-box {
  margin-top: 33px;
  padding: 0 24px;
  font-size: 14px;
}
.hiddenItem-form-box label {
  display: block;
  color: rgba(33, 43, 54, 1);
  margin-bottom: 8px;
}
.form__input-box {
  margin-bottom: 16px;
}
.form__input-box .icon_triangle {
  margin-right: 12px;
  width: 8px;
  height: 4px;
}
.hiddenItem-btn-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid rgba(217, 217, 217, 1);
  padding: 16px 24px 16px 0;
}
.hiddenItem-btn-box .btn {
  padding: 8px 22px;
  margin-left: 10px;
  background-color: #fff;
  outline: none;
  border: 1px solid rgba(196, 205, 213, 1);
  border-radius: 4px;
}
.hiddenItem-btn-box .btn:nth-child(1) {
  background-color: #0270e0;
  color: #fff;
}
.search__hiddenItem .el-select {
  width: 100%;
}
.el-select-dropdown {
  z-index: 2021 !important;
}
.el-picker-panel__body-wrapper {
  z-index: 2022;
}
.search__hiddenItem .el-date-editor--daterange.el-input__inner {
  width: 100%;
}
.el-input__icon {
  transition: none;
}
/* 表格上方的搜索栏 end */
.table {
  border-top: 1px solid #dae0e5;
  flex: 1;
}
.table .el-table th {
  height: 42px;
  font-size: 12px;
  color: #637381;
  background: #eef1f4;
  border-right: 1px solid #dae0e5;
}
.table .el-table tr {
  height: 60px;
  background: #fff;
}
.table .el-table__row--striped td {
  background: #f5f7fa;
}
.table .el-table td {
  font-size: 14px;
  color: #212b36;
  border-right: 1px solid #dae0e5;
}
.table .el-table td:nth-last-child(1) {
  color: #0270e0;
}
.table .el-table .cell {
  white-space: nowrap;
}

.table .td_handled {
  padding: 6px 12px;
  background-color: #f0f9eb;
  border: 1px solid #e1f3d8;
  border-radius: 2px;
  font-size: 12px;
  color: #67c23a;
}
.table .td_abolish {
  padding: 6px 12px;
  background-color: #f4f4f5;
  border: 1px solid #e9e9eb;
  border-radius: 2px;
  font-size: 12px;
  color: #919eab;
}
.noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #909399;
  box-sizing: border-box;
}
/* 表格下方的分页 start */
.table-pagination-wrapper {
  margin: 20px 20px 12px 0;
  display: flex;
  justify-content: flex-end;
}
.table-pagination-wrapper .el-pagination {
  font-weight: normal;
}
.table-pagination-wrapper .el-pagination .el-input__inner {
  border: none;
}
.table-pagination-wrapper .el-pagination__sizes {
  margin: 0;
}
.table-pagination-wrapper .el-pager li.active {
  border-radius: 5px;
  background-color: #5077aa;
  color: #fff;
}
.table-pagination-wrapper .el-pager li {
  font-size: 14px;
  color: #5077aa;
}
.pointer {
  cursor: pointer;
}
/* 表格下方的分页 end */
